
font-family: 'Noto Sans JP', sans-serif;

* {
    box-sizing: border-box;
    margin: 0.8px;
    padding: 0.8px;
}

html, {
    scroll-behavior: smooth;
     height: 100%;
    
}
.container-fluid {
    margin: 0;
    padding: 0;
}


.welcome-header {
    background-image: url('../assets/backgrounds/h_img.jpg');
    background-size: cover;
    text-align: center;
    color: white;
    padding-top: 13%;
    padding: 10%;

}

 h1{
    font-size:52px;

}

.header {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 20px;
    padding-top: 40px;

}

.about {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
    font-size: 19px;
   
}
#mouse-click {
    padding-top: 22px;
    margin-top:10%;
    padding-bottom: 30px;
   
}

.services {
    background-image: url(../assets/backgrounds/s_image.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    font-size:20px;
    text-align: center;
    color: white;
}

#serviceoverlay{
    background-color: rgba(0,0,0,0.4);
    padding-top:20px;
    padding-bottom: auto;
}
.what-we-do {
    text-align: center;
    padding-top: 40px;
    padding: 10px;

}
.what-we-do .headings {
    padding-bottom: 30px;
}
.title{
    font-weight: bold;
}

.toggler {
    display:none;
    padding: 10px 0;
}

#development, #design, #product{
    display: none;
}

#portfolio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 15%;
    margin-right:15%;
}


#overlay1, #overlay2 , #overlay3, #overlay4, #overlay5, #overlay6, #overlay7, #overlay8, #overlay9{
    display: none;
     background-color: rgba(241, 238, 238, 0.6);
    background-visibility: transparent;
    color: rgb(20, 19, 18);
    opacity: 75%;
    position: absolute;
    text-align: center;
    font-size: 23px;
    top: 19px;
    bottom: 0px;
    right: 0px;
    left: 40px;


}
#overlay {
    position:fixed;
    display:none;
    width: 100%;
    height: 10%;
    background-color: rgba(241, 238, 238, 0.6);
    
}


.col-md-3 img {
    max-width: 120%;
    max-height: 120%;
    padding: 15px;
}
.contact {
    background-image: url(../assets/backgrounds/c_image.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
} 
.contact h2 {
  padding-right: 30%;
    margin-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
}

.button { 
    margin-left: 20%;
    margin-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
#mc-embedded-subscribe-form{
    /* margin: 65px; */
    padding-bottom: 0.5px;
    margin:  0.5px;
    padding: 25px;
}

#mce-FNAME, #mce-EMAIL, #mce-MMERGE2{
    background-color: white;
    color:black;
    border: 1px solid white;
    margin: 10px;
    border-radius: 2%;
}

#mce-MMERGE2{
    height: 100px;
    width: 50%;
}
input[type=text]{
    width: 40%;
}

footer{

    padding-top: 3px;
    padding: 1px;
}
footer p{
    margin-top: 10px;
    text-align: center;
}
.form-group{
    text-align: center;
}
